.wrapper {
  background-color: var(--bg-1);
  border-radius: 12px;
  padding: 1rem;
  hr {
    border: 1px solid rgba($color: white, $alpha: 0.5);
    margin: 1rem 0;
  }
  .ctn-product {
    display: block;
  }

  .filter {
    display: flex;
    gap: 1rem;
  }
  .load-more {
    display: flex;
    align-self: center;
    justify-content: center;
  }
}
