.wrapper {
  background-color: var(--bg-1);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 12px;
  .ctn-select {
    display: flex;
    // border: 1px solid;
    margin: 1rem 0;
    gap: 1rem;
  }
  .ctn-price {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: var(--bg-3);
    padding: 1rem;
    border-radius: 12px;
  }

  .ctn-img {
    border-radius: 12px;
    padding: 1rem;
    background-color: var(--bg-3);
    margin-top: 1rem;
    .show-img {
      margin-top: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}
