.wrapper {
  background-color: var(--bg-1);
  margin: 1rem 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  position: relative;

  .ctn-select {
    display: flex;
    margin: 1rem 0;
    gap: 1rem;
  }
  .ctn-price {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    gap: 0.5rem;
    background-color: var(--bg-2);
    padding: 0.5rem;
    border-radius: 12px;
    // border: 1px solid;
    button {
      font-size: 1rem;
    }
  }

  .ctn-img {
    border-radius: 12px;
    padding: 1rem;
    background-color: var(--bg-2);
    margin-top: 1rem;
    .show-img {
      margin-top: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      .img-detail {
        position: relative;
        .close-img {
          position: absolute;
          z-index: 1;
          width: 1.5rem;
          display: flex;
          height: 1.5rem;
          overflow: hidden;
          font-size: 1rem;
          align-items: center;
          justify-content: center;
          right: 0;
        }
      }
    }
  }
  .ctn-submit-add {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
  }
}
