.wrapper {
  background-color: var(--bg-3);
  margin: 1rem 0;
  padding: 0.5rem;
  // border-radius: 12px;
  position: relative;
  // border: 1px solid;
  // overflow: hidden;
  .ctn-select {
    display: flex;
    // border: 1px solid;
    margin: 1rem 0;
    gap: 1rem;
  }
  .ctn-price {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: var(--bg-3);
    padding: 0.5rem;
    border-radius: 12px;
  }

  .ctn-img {
    border-radius: 12px;
    padding: 1rem;
    background-color: var(--bg-3);
    margin-top: 1rem;
    .show-img {
      margin-top: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
  .ctn-submit-add {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
  }
}
