@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './lib.scss';
@import './reset.scss';

:root {
  --primary-2: rgb(114, 27, 255);
  --tx-primary: rgb(228, 230, 235);
  --rgb-tx-primary: 228, 230, 235;
  --rgb-primary-2: 75, 0, 230;
  --error: rgb(220, 53, 69);
  --primary-1: rgb(88, 0, 200);
  --rgb-primary-1: 88, 0, 200;
  --border-radius: 12px;
  --width-search: 300px;
  --radius: 12px;
}

#theme-root {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeSpeed;
  background-color: var(--bg-1);
  color: var(--tx-1);
  &[data-theme='light'] {
    --rgb-bg-3: 255, 255, 255;
    --rgb-bg-2: 225 225 225;
    --rgb-bg-1: 200 200 200;
    --bg-3: rgb(255, 255, 255);
    --bg-2: rgb(225, 225, 225);
    --bg-1: rgb(200, 200, 200);
    --tx-3: rgb(100, 100, 100);
    --tx-2: rgb(70, 70, 70);
    --tx-1: rgb(0, 0, 0);
    --rgb-tx-3: 100 100 100;
    --rgb-tx-2: 70 70 70;
    --rgb-tx-1: 0 0 0;
    --bg--hv: #f0f2f5;
  }
  &[data-theme='dark'] {
    --tx-1: rgb(228, 230, 235);
    --tx-2: rgb(206, 206, 206);
    --tx-3: rgb(90, 90, 90);
    --bg-1: rgb(24, 25, 26);
    --bg-2: rgb(34, 34, 34);
    --bg-3: rgb(58, 59, 60);
    --bg-hv: rgba(255, 255, 255, 0.1);
    --rgb-tx-1: 228, 230, 235;
    --rgb-tx-2: 225, 225, 225;
    --rgb-tx-3: 24, 25, 26;
    --rgb-bg-1: 24, 25, 26;
    --rgb-bg-2: 36, 37, 38;
    --rgb-bg-3: 58, 59, 60;
  }
}
