.wrapper{
  border-bottom: 1px solid  rgba($color: var(--rgb-primary-2), $alpha: .8) ;
  height: 100%;
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  align-items: center;
  .logo{
    display: flex;
    align-items: center;
    .img{
      width: 3rem;
      margin-right: .5rem;
    }
  }
  .search{
    width: 300px;
    display: flex;
    border-radius: 10px ;
    overflow: hidden;
    background-color: var(--bg-3);
    border: 1px solid transparent;
    input{
      background-color: transparent;
      flex: 1;
    }
    &:focus-within{
      border: 1px solid var(--primary-1);
    }
  }
  .register{
    display: flex;
    width: 300px;
    justify-content: flex-end;
  
  }
  
}