.wrapper{
  --height-head: 5rem;
  display: flex;
  flex-wrap: wrap;
 
}

.header{
  width: 100%;
  background-color: var(--bg-2);
  height: var(--height-head);
 
}

.sidebar{
  width: 300px;
  height:calc(99vh - var(--height-head));
  background-color: var(--bg-2);
}
.content{
  grid-area: content;
  background-color: var(--bg-3);
  flex: 1;
 
}