.wrapper {
  // height: 100px;
  background-color: var(--bg-2);
  .value {
    display: flex;
    gap: 2rem;
  }
  .add-value {
    display: flex;
    // border: 1px solid;
  }
  .ctn-add-attribute {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}
