header{
  height: 100%;
  border-bottom: 1px solid rgba($color : var(--rgb-primary-1), $alpha: .3);
  box-shadow: rgba($color: var(--rgb-bg-1), $alpha: .6) 0 2px 12px ;
}

.wrapper{
  display: flex;
  .logo{
    img{
      width: 3rem;
    }
    .name-logo{
      &:hover{
        background-color: var(--bg-hv);
      }
    }
  }
}

.search{
  display: flex;
  background-color: var(--bg-3);
  overflow: hidden;
  border-radius: 12px;
  &:focus-within {
    border: 1px solid var(--primary-1);
  } 
  input {
    margin: 0 1rem;
  }
}

.search-result{
  display: none;
  margin: 3rem;
}

.action{
  display: flex;
  gap: 1rem;
 
}