.wrapper {
  background-color: var(--bg-1);
  padding: 0.5rem;
  position: relative;
  .ctn-select {
    margin: 0.5rem 0;
    display: flex;
    gap: 0.5rem;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
  }
}
