.news-layout{
  // border: 1px solid;
  .top-news{
    // margin: 1rem;
    border: 1px solid blue;
    height: 20rem;
    display: flex;
    gap: 12px;
    .left{
      border: 1px solid;
      flex: 1;
      // height: 100%;
    }
    .center{
      height: 100%;
      width: 50%;
      border: 1px solid red;
    }
    .right{
      border: 1px solid ;
      flex: 1;
      height: 100%;
    }
  }
}